<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charSet="utf-8" />
<meta data-n-head="ssr" name="viewport" content="width=device-width, initial-scale=1">
<meta data-n-head="ssr" name="author" content="Vaibhav">
<meta data-n-head="ssr" name="language" content="English">
<meta data-n-head="ssr" name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta data-n-head="ssr" data-hid="description" name="description" content="Kira is a Discord bot that helps to make your server great! It provides experience in a way you've never seen before.">
<meta data-n-head="ssr" property="og:type" content="website">
<meta data-n-head="ssr" property="og:site_name" value="Kirabot.site">
<meta data-n-head="ssr" data-hid="og:url" property="og:url" content="https://kirabot.site">
<meta data-n-head="ssr" data-hid="og:title" property="og:title" content="Kira - The Best Discord Bot">
<meta data-n-head="ssr" data-hid="og:description" property="og:description" content="Kira is a Discord bot that helps to make your server great! It provides experience in a way you've never seen before.">
<meta data-n-head="ssr" data-hid="og:image" property="og:image" content="https://ik.imagekit.io/iwzmmyzul/New_Folder/kiralogo_29GtLgw7b.png">
<meta data-n-head="ssr" name="msapplication-TileColor" content="#ffb700">
<meta data-n-head="ssr" name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta data-n-head="ssr" name="twitter:card" content="summary">
<meta data-n-head="ssr" name="twitter:site" content="@KiraBot">
<meta data-n-head="ssr" http-equiv="X-UA-Compatible" content="IE=edge">
<meta data-n-head="ssr" name="keywords" content="website, discord, discordapp, discord bot">
<title>Kira - The Best Discord Bot</title>
<meta name="theme-color" content="#ffb700">
<link rel="apple-touch-icon" href="https://ik.imagekit.io/iwzmmyzul/New_Folder/kiralogo_29GtLgw7b.png">
<link rel="shortcut icon" type="image/x-icon" href="https://ik.imagekit.io/iwzmmyzul/New_Folder/kiralogo_29GtLgw7b.png">
<link rel="shortcut icon" href="https://ik.imagekit.io/iwzmmyzul/New_Folder/kiralogo_29GtLgw7b.png">
<meta name="twitter:card" content="app">
<meta name="twitter:title" content="Kira - The Best Discord Bot">
<meta name="twitter:description" content="Kira is a Discord bot that helps to make your server great! It provides experience in a way you've never seen before.">
<meta http-equiv="refresh" content="0; url=https://discord.com/oauth2/authorize?client_id=823896901799641168&scope=bot+applications.commands&permissions=37088600" />
    </head>
</html>
